
#first
{
width: 34%;
height: 100%;
float: left;
background-color:  #031927;
text-align: center;
color: aliceblue;
}

#second
{
width: 33%;
height: 100%;
float: left;
background-color: #BA1200;
text-align: center;
}
#third
{
width: 33%;
height: 100%;
float: left;
background-color:  #031927;
text-align: center;
color: aliceblue;
}